<!DOCTYPE html>
<html>
    <head>
        <title>Список продукции</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/static/jquery/css/smoothness/jquery-ui-1.8.21.custom.css" media="all" />
	    <script src="/static/jquery/js/jquery-1.7.2.min.js"></script>
	    <script src="/static/jquery/js/jquery-ui-1.8.21.custom.min.js"></script>
	    <script src="/static/jquery/development-bundle/ui/i18n/jquery.ui.datepicker-ru.js"></script>	
	    <script type="text/javascript">
        $(function() {	        
            $('#id_date').datepicker({dateFormat: 'dd.mm.yy'});   
        });
	</script>	
    </head>
    <body>
        <a href="/"><img src="/static/logo.png" alt="Модус-Краснодар" /></a>
	    <h1>Система расчёта оборотных средств ООО "Модус-Краснодар"</h1>
        <b>Список продукции</b>	
	
    	<table>
	    <thead>
		    <tr>
			    <th><b>Код BOM</b></th>
			    <th><b>Название поставщика</b></th>
			    <th><b>Наименование продукции</b></th>
			    <th><b>Цена</b></th>
		    </tr>
	    </thead>	
	    
	    {% for supplierproduct in supplierproducts %}	
	    
	    <tbody>
	    <tr>
		    <td>{{ supplierproduct.code.code }}</td>
		    <td>{{ supplierproduct.supplier_name.supplier_name }}</td>
		    <td>{{ supplierproduct.product_name }}</td>
		    <td>{{ supplierproduct.cost }}</td>
	    </tr>
    	{% endfor %}
	    </tbody>
	    
	    </table>
	<a href="/">На главную</a>
    </body>
</html>
